<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="paging(slice, url, totalElements, numDigitOfTotal)" class="d-block mx-auto" 
	th:with="totalPage = ${totalElements/slice.getSize() + 1},
			currentPage = ${slice.getNumber() + 1 }">
	<ul class="pagination">
		<li th:class="${(currentPage==1 ? 'disabled active ' : '') + 'page-item'}">
			<a class="page-link" th:href="@{${url}}">&laquo;</a>
		</li>
		<li th:class="${(currentPage==1 ? 'disabled ' : '') + 'page-item'}">
			<a class="page-link" th:unless="${currentPage==2}" th:href="@{${url}(page=${currentPage - 1})}">&lt;</a>
			<a class="page-link" th:if="${currentPage==2}" th:href="@{${url}}">&lt;</a>
		</li>
		
		<form method="get" class="form-inline my-auto mx-2" th:action="@{${url}}">
			Page <input class="mx-2 form-control p-1 d-inline-block" type="number" min="1" 
				th:style="${'height:auto;width:'+ (numDigitOfTotal+1) +'em' }" th:max="${totalPage}" th:value="${currentPage}" 
				name="page" /> / [[${totalPage}]] </form>
		
		<li th:class="${(currentPage==totalPage ? 'disabled ' : '') + 'page-item'}">
			<a class="page-link" th:unless="${currentPage==totalPage}" th:href="@{${url}(page=${currentPage + 1})}">&gt;</a>
			<a class="page-link" th:if="${currentPage==totalPage}" th:href="@{${url}(page=${currentPage})}">&gt;</a>
		</li>
		<li th:class="${(currentPage==totalPage ? 'disabled active ' : '') + 'page-item'}">
			<a class="page-link" th:href="@{${url}(page=${totalPage})}">&raquo;</a>
		</li>
	</ul>
</div>