<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:with="currentPage = ${answers.getNumber() + 1}" >

<head>
<inside-head th:replace="part/_head.html :: head(title=${'List Answers'
	+ (answers.isFirst() ? '' : (' - Page ' + currentPage) ) }) " />
</head>
<body>
    <div class="bg-light" id="section">
        <nav th:replace="part/_nav.html :: nav(isLoggedIn=${true}, isAuthor=${false},
        	isAnswerPage=${true} )"/>

        <div class="container mt-3">
            <div class="row flex-md-row">

                <div class="col-lg-8 col-12 mb-3 px-2 order-2 order-lg-1">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Answers
                            	<small th:unless="${answers.isFirst()}" 
                            		th:text="${'Page ' + currentPage}" />
                            </h4>
                            <hr />
                            <div class="list-group" th:each="question : ${answers.getContent()}">
                                <div th:with="isUnansweredQuestion = ${question.answerBody == null},
                                	isSelfQuestion= ${question.userAnswer.username == question.userAsk.username}" 
                                	class="px-3 py-3 mb mb-2 bg-light list-group-item flex-column align-items-start">
                                    <div class="d-flex w-100 flex-column flex-md-row justify-content-between">
                                        <h6 class="mb-1 p-0 col-md-9 pl-md-0 pr-md-2 text-break" th:text="${question.questionBody}" />
                                        <small th:if="${question.answerDate!=null}" class="text-muted pr-md-0 ml-md-auto" th:text="${question.answerDate}" />
                                    </div>
                                    <div class="mb-2">
                                    <small th:unless="${question.userAnswer.username == question.userAsk.username}" class="text-muted">
                                     	<a th:href="@{'/wall/' + ${question.userAnswer.username}}" 
                                     	th:text="${question.userAnswer.fullname}"/>	
                                    </small>
                                    <span th:if="${isSelfQuestion}" class="badge badge-secondary p-1">self-ask</span>
                                    <span th:if="${question.incognitoAsk and !isSelfQuestion}" class="badge badge-success p-1">incognito</span>
                                    <span th:if="${!question.answerSeen and !isUnansweredQuestion}" class="badge badge-danger p-1">new</span>
                                    <span th:if="${isUnansweredQuestion}" class="badge badge-warning p-1">unanswer</span>
                                    </div>
                                    <p class="mb-1 text-break" th:text="${question.answerBody}" />
                                </div>
                            </div>
                            <p th:unless="${answers.hasContent()}">There is 0 answer.</p>
                        </div>
                        <div th:replace="part/_pagination.html :: paging(slice=${answers},
                        	url = ${'/user/answers'}, totalElements=${numTotalAnswers},
                        	numDigitOfTotal = ${numDigitTotalAnswers})" />
                    </div>


                </div>
                <div class="col-lg-4 col mb-3 px-2 order-1 order-lg-1">
                    <div th:replace="part/_alert.html :: alertWidget" />
                    	
					<div th:replace="part/_profile_widget.html :: menuLikeNav(isLoggedIn=${true})" />

                </div>

            </div>
        </div>
    </div>

    <footer th:replace="part/_footer.html :: footer"/>

   	<div th:replace="part/_js.html :: js" />
</body>

</html>